{% set rsyncd = salt['grains.filter_by']({
    'Debian': {
        'pkg': 'rsync',
        'service': 'rsync',
        'configfile': '/etc/rsyncd.conf',
        'secretsfile': '/etc/rsyncd.secrets'
    },
}, merge=salt['pillar.get']('rsyncd:lookup')) %}
